
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	display:flex;
	justify-content:  space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #4d4d33;

}
.logo{
	color: #ccffcc;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: monospace;
	font-size: 32px;

}

.nav-links{
	display:flex;
	justify-content: space-around;
	width: 55%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: system-ui;

}

.menu{
	display:none;
	cursor: pointer;
}
.menu div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}

@media screen and (max-width: 1224px){
	.nav-links{
		width: 70%;
	}
}
@media screen and (max-width: 750px){
	body{
		overflow-x: hidden; 
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height:100vh;
		top: 8vh;
		background-color: #4d4d33;
    color: white;
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li{
		opacity: 0;
	}
	.menu{
		display: block;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transition: translateX(50px);
	}
	to{
		opacity: 1;
		transition: translateX(0px);
}

.loginbox{
	
}

.text{
        position: absolute;
        top: 10%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .button1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .button {
        background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        border: 2px solid white;
        color:white;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        display: inline-block;
        font-size: 19px;
        word-spacing: 1px;
        margin: 4px 2px;
        cursor: pointer;
        height: 50px;
        width: 160px;

    }

    .getstarted:hover {
        background-color: white;
        color: black;
    }


    *{
    	box-sizing: border-box;
    }

    .column{
    	float: left;
    	width: 33.33%
    	padding: 5px;
    }

    .row::after{
         content:"";	
         display: table;
         clear: both;
    }

 }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #4d4d33;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 2px;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica;
  letter-spacing: 1px;
}

li a:hover:not(.active) {
  background-color: #333;
  
}

.active {
  background-color: #f2f2f2;
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 2px;
  font-weight: bold;
   
}

.text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}

